html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 120;
  background-color: white;
  padding-top: 15%;
}

.headerLogo{
  height: 100px;
  margin: auto;
  vertical-align: middle;
  margin: auto;

}

.bedrijvenContainer{
  padding: 40px;
  height: 100%;
}

.bedrijfContent{
  padding: 10px;
  display: none;
  transition: .3s ease-in-out;
}

@keyframes fadein {
  /*
  from { opacity: 0; }
  to   { opacity: 1; }
  */
}
body{
  background-attachment: fixed;
  background-color: #374345;
  background-repeat: no-repeat;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  text-decoration: none;
}



a{
  color: #2f4f4f !important;
}

table{
    opacity: 0.8;
    color: #1B2324 !important;
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.contactInfoContainer{
  font-size: 0.77rem;
  letter-spacing: 1px;
  opacity: 0.8;
  color: #1B2324;
}

.headerContainer{
  max-width: 100%;
}

.facebookHeader{
  width: 100%;
}

.facebookContent{
  float:right;
}

.logoContainer{
  height:180px;
  margin: auto;
  vertical-align: middle;
  padding: 30px;
  padding-top: 90px;
}

.navigationBar{
  background-color: black;
  width: 100%;
  height: 60px;
}

.ContactContainer{
  background-color: #ff6bef;
  opacity: .9;
  height: 680px;
}

.contactImageContainer{
  padding: 20px 0px 20px 0px;
  height: 300px;
  margin: auto;
  margin-top: 25px;
}

.contactImage{
  max-height: 100%;
  opacity: 1 !important;
  margin: auto;
  padding: 0px;
  margin-left: 10px;
}

.contactTextContainer{
  height: 145px;
  opacity: 1;
  color: white;
  width: 100%;
  margin: 0px 12px -5px 50px;
  padding: 0px 85px 5px 20px;
}


.GoogleMapsContainer{
}

.BSOMContainer{
  margin-bottom: -7px;
}

.FooterContainer{
  width: 100%;
  height:200px;
  background-color: #383E42;
  color: white;
  opacity: .95;
  padding: 80px 0px 0px 50px;
}

.SocialMedia{
}

.silviaIcon{
  padding: 50px 0px 20px 0px !important;
}

.smIcon{
  height: 46px;
  width: 46px;
  transition: .5s ease-in-out;
  margin: 1px;
  margin-right: 14px;
}

.smIcon:hover{
  filter: none;
  transition: .3s ease-in-out;
}

.smContainer{
  width: 85%;
  border-top: 1px solid #cacaca;
  margin: 20px 20px 6px 20px;
  padding-top: 20px
}



.modal{
  height:82% !important;
  max-height: 95% !important;
  width: 65% !important;
  animation-name: modalAppear;
  animation-duration: 1s;
  transition: .5s ease-in-out;
}

@keyframes modalAppear {
  0%
  {
    opacity: 0;
  }
  75%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

.modal-overlay{
  opacity: .8 !important;
  animation-name: modalOverlayAppear;
  animation-duration: 1s;
}

@keyframes modalOverlayAppear {
  0%
  {
    opacity: 0;
  }
  75%
  {
    opacity: 0;
  }
  100%
  {
    opacity: .8;
  }
}

.modalContainer{
  width: 100%;
  height: 100%;
  background: url('header2.jpg');
  background-position: center;
  background-size:cover;
  position: relative;
  transition: .5s ease-in-out;
}

.modalInfo{
  font-size: 1.6rem;
  text-align: center;
  opacity: 1 !important;
  color: white;
  padding: 17px 20px 0px 20px;
  transition: .5s ease-in-out;
}

.modalIntroduction{
  color: white;
  font-size: .9rem;
  padding: 5px 20px 0px 20px;
  transition: .5s ease-in-out;
}

.actionText{
  padding-left: 7%;
  color: white;
  font-size: 1.2rem;
  transition: .5s ease-in-out;
}

.modalActions{
  margin: auto;
  margin-top: 30px;
  margin-left: 13%;
  overflow-x: hidden;
  transition: .5s ease-in-out;
}

.FacebookRow{
  opacity: .8;
  width: 100%;
  height: 48px;
  transition: .2s ease-in-out;
  margin: 3px 12px 5px 20px;
  border-left: 0px solid grey;
}

.FacebookRow:hover{
  border-left: 4px solid #6e8fcb;
  color: blue !important;
  transition: .2s ease-in-out;
  padding-left: 5px !important;
}

.InstagramRow{
  opacity: .8;
  width: 100%;
  height: 48px;
  border-left: 0px solid grey;
  transition: .2s ease-in-out;
  margin: 3px 12px 5px 20px;
}

.InstagramRow:hover{
  color: red !important;
  transition: .2s ease-in-out;
  border-left: 4px solid #a7418f;
  padding-left: 5px !important;
}

.modalScreen{
  background: black;
  height: 100%;
  opacity: .8;
  position: absolute;
}
